<section class="container editar-pensamentos ff-inter">
  <header class="header">
    <h2>Edite o pensamento:</h2>
  </header>
  <form [formGroup]="formularioEditar">
    <label for="pensamento" class="required-label">Pensamento</label>
    <input
      type="textarea"
      class="input"
      id="pensamento"
      placeholder="Digite um pensamento"
      formControlName="conteudo" />
    <div
      class="mensagem__erro"
      *ngIf="formularioEditar.get('conteudo')?.errors">
      {{ ValidatorEnums.MSG_CAMPO_OBRIGATORIO }}
    </div>
    <label for="autoria" class="required-label">Autoria ou fonte</label>
    <input
      formGroupName="autoria"
      type="text"
      class="input"
      id="autoria"
      formControlName="autoria"
      placeholder="Digite um autoria ou fonte" />
    <div
      class="mensagem__erro"
      *ngIf="
        formularioEditar.get('autoria')?.errors?.['required'] &&
        formularioEditar.get('autoria')?.touched
      ">
      {{ ValidatorEnums.MSG_CAMPO_OBRIGATORIO }}
    </div>
    <div
      class="mensagem__erro"
      *ngIf="formularioEditar.get('autoria')?.errors?.['minlength']">
      {{ ValidatorEnums.MS_CAMPO_MIN_LENGTH }} {{ ValidatorEnums.LENGTH_AUTORIA }} caracteres
    </div>
    <div class="mensagem__erro" *ngIf="isValidValueAutoria()">
      {{ ValidatorEnums.MSG_AUTORIA_EM_MINUSCULA }}
    </div>
    <label>Selecione o modelo do card:</label>
    <div class="container-radio">
      <div class="radio-modelo">
        <label class="label-modelo" for="{{ modeloscards.MODELO1 }}">
          <input
            value="{{ modeloscards.MODELO1 }}"
            type="radio"
            id="{{ modeloscards.MODELO1 }}"
            formControlName="modelo" />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 1</span>
        </label>
        Prévia:
        <div class="modelo modelo1 ff-roboto-mono">
          <img src="../../../../assets/imgs/modelo1.png" alt="Aspas azuis" />
          <p class="conteudo">
            {{ formularioEditar.get('conteudo')?.value }}
          </p>
          <p class="autoria">
            <b>{{ formularioEditar.get('autoria')?.value }}</b>
          </p>
        </div>
      </div>
      <div class="radio-modelo">
        <label class="label-modelo" for="{{ modeloscards.MODELO2 }}">
          <input
            type="radio"
            id="{{ modeloscards.MODELO2 }}"
            value="{{ modeloscards.MODELO2 }}"
            formControlName="modelo" />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 2</span>
        </label>
        Prévia:
        <div class="modelo modelo2 ff-roboto-mono">
          <img
            src="../../../../assets/imgs/modelo2.png"
            alt="Aspas azuis claro" />
          <p class="conteudo">{{ formularioEditar.get('conteudo')?.value }}</p>
          <p class="autoria">
            <b>{{ formularioEditar.get('autoria')?.value }}</b>
          </p>
        </div>
      </div>
      <div class="radio-modelo">
        <label class="label-modelo" for="{{ modeloscards.MODELO3 }}">
          <input
            type="radio"
            id="{{ modeloscards.MODELO3 }}"
            value="{{ modeloscards.MODELO3 }}"
            formControlName="modelo" />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 3</span>
        </label>
        Prévia:
        <div class="modelo modelo3 ff-roboto-mono">
          <img src="../../../../assets/imgs/modelo3.png" alt="Aspas verde" />
          <p class="conteudo">{{ formularioEditar.get('conteudo')?.value }}</p>
          <p class="autoria">
            <b>{{ formularioEditar.get('autoria')?.value }}</b>
          </p>
        </div>
      </div>
    </div>
    <div class="acoes">
      <button
        [disabled]="!formularioEditar.valid"
        type="button"
        (click)="editarPensamento()"
        class="botao"
        [ngClass]="toogleBotao()">
        Salvar
      </button>
      <button type="button" (click)="cancelarEdicao()" class="botao">
        Cancelar
      </button>
    </div>
  </form>
</section>
