body{
  margin: 0;
  padding:0;
}

h1 {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.header {
  margin: 1rem auto 2rem;
}

.aspas {
  height: 35px;
  position: relative;
  &::before {
    top: 0;
    right: 5px;
    position: absolute;
    align-items: center;
    font-family: "Roboto", sans-serif;
    content: "''";
    font-size: 6rem;
  }
}

.pensamento-p {
  width: 262px;
}

.pensamento {
  background-color: #f0f0f0;
  box-sizing: border-box;
  min-height: 360px;
  justify-content: space-around;
  word-wrap: break-word;
  position: relative;
}

.pensamento .conteudo {
  color: var(--primary-800);
  font-size: 1.2rem;
  padding: 1rem;
}

.pensamento .autoria {
  color: var(--surface-600);
  padding-left: 0.5rem;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

.modelo1 {
  box-shadow: 8px 8px 0 var(--purple-100);
  border: 3px dotted var(--purple-500);

}

.modelo2 {
  box-shadow: 8px 8px 0 var(--red-100);
  border: 3px dotted var(--red-500);
}

.modelo3 {
  box-shadow: 8px 8px 0 var(--teal-100);
  border: 3px dotted var(--teal-500);
}

/*
.container {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: auto;
  margin-left: auto;
}
.botao {
	background: #154580;
	color: #ffffff;
	max-width: 270px;
	width: 250px;
	padding: 1rem;
	margin: 0 auto;
	border: 2px solid #154580;
	border-radius: 10px;
	transition: 0.5s ease;
	cursor: pointer;
}

.botao:hover {
	border: 2px solid #84eec1;
	color: #84eec1;
}
@media (min-width: 576px) {
	.container {
		width: 540px;
  }
}

@media (min-width: 768px) {
	.container {
		width: 720px;
  }
}

@media (min-width: 992px) {
	.container {
		width: 960px;
  }
}

@media (min-width: 1200px) {
	.container {
		width: 1140px;
  }
}

.botao__desabilitado {
  background: #7a7f87;
  color: #ffffff;
  max-width: 270px;
  width: 250px;
  padding: 1rem;
  margin: 0 auto;
  border: 2px solid #c4c4c4;
  border-radius: 10px;
  transition: 0.5s ease;
}

.required-label {
	display: flex;
  align-items: center;
	
  &:after {
		content: '*';
    font-size: 1.2rem;
    width: 1rem;
    height: 1rem;
    color: #800505;
  }
}

.mensagem__erro {
	font-size: 12px;
  margin-left: 5px;
  color: red;
  margin-top: -25px;
  margin-bottom: 20px;
}

.botao__desabilitado {
	margin: 70px 5px 5px;
  width: 200px;
  cursor: not-allowed;
} 

*/
