<main class="principal">
  <h2 class="principal__titulo">Dados do cadastro</h2>

  <form
    class="principal__formulario"
    id="formulario"
    #f="ngForm"
    (ngSubmit)="cadastrar(f)"
  >
    <h3 class="principal__subtitulo">Dados pessoais</h3>
    <div class="formulario__campo">
      <label class="campo__etiqueta required" for="nome">Nome Completo</label>
      <input
        name="nome"
        id="nome"
        class="campo__escrita"
        ngModel
        required
        minlength="2"
        #nomeUsuario="ngModel"
      />
      <div
        *ngIf="
          (nomeUsuario.invalid && nomeUsuario.touched) || nomeUsuario.dirty
        "
      >
        <app-mensagem
          *ngIf="nomeUsuario.errors?.['required']"
          mensagem="Campo é obrigatório"
        ></app-mensagem>
        <app-mensagem
          *ngIf="nomeUsuario.errors?.['minlength']"
          mensagem="O campo deve ter mínimo 2 caracteres"
        ></app-mensagem>
      </div>
    </div>
    <div class="formulario__dupla">
      <div class="formulario__campo">
        <label class="campo__etiqueta required" for="nascimento"
          >Nascimento</label
        >
        <input
          name="nascimento"
          id="nascimento"
          type="date"
          class="campo__escrita"
          ngModel
          required
          date
          #nascimentoData="ngModel"
          pattern="\b(19\d\d|20\d\d)[-/](0[1-9]|1[0-2])[-/](0[1-9]|[12]\d|3[01])\b"
          maiorIdadeValidator
        />
        <div
          *ngIf="
            (nascimentoData?.invalid && nascimentoData?.touched) ||
            nascimentoData?.dirty
          "
        >
          <app-mensagem
            *ngIf="nascimentoData.errors?.['required']"
            mensagem="Data obrigatória"
          ></app-mensagem>
          <app-mensagem
            *ngIf="nascimentoData.errors?.['pattern']"
            mensagem="Data inválida"
          ></app-mensagem>
          <app-mensagem
            *ngIf="nascimentoData?.errors?.['maiorIdadeValidator']"
            mensagem="Precisa ser maior de idade"
          >
          </app-mensagem>
        </div>
      </div>
      <div class="formulario__campo">
        <label class="campo__etiqueta required" for="telefone">Contato</label>
        <input
          name="telefone"
          id="telefone"
          type="tel"
          placeholder="(XX) XXXXX-XXXX"
          class="campo__escrita"
          ngModel
          #telefone="ngModel"
          required
          pattern="(\(?\d{2}\)?\s?)(\d{5}\-?\d{4})"
        />
        <app-mensagem
          mensagem="Campo telefone obrigatório."
          *ngIf="telefone?.errors?.['required'] && telefone?.touched"
        >
        </app-mensagem>
        <app-mensagem
          *ngIf="telefone?.errors?.['pattern']"
          mensagem="Campo inválido: Ex: (XX) XXXXX-XXXX "
        >
        </app-mensagem>
      </div>
    </div>
    <div class="formulario__campo">
      <label class="campo__etiqueta required" for="email">E-mail</label>
      <input
        name="email"
        id="email"
        type="email"
        class="campo__escrita"
        required
        pattern="^[\w-.]+@([\w-]+\.)+[\w-]{2,4}$"
        ngModel
        #email="ngModel"
      />
      <div *ngIf="(email?.invalid && email?.touched) || email?.dirty">
        <app-mensagem
          mensagem="Campo obrigatório"
          *ngIf="email?.errors?.['required']"
        >
        </app-mensagem>
        <app-mensagem
          mensagem="Email inválido: exemploValido@dominio.com"
          *ngIf="email?.errors?.['pattern']"
        >
        </app-mensagem>
      </div>
    </div>

    <h3 class="principal__subtitulo">Endereço</h3>

    <div class="formulario__campo">
      <label class="campo__etiqueta" for="cep">CEP</label>
      <input
        name="cep"
        id="cep"
        class="campo__escrita"
        ngModel
        required
        #cep="ngModel"
        pattern="\b\d{5}-?\d{3}\b"
        minlength="8"
        maxlength="9"
        (blur)="consultarCep(f)"
        [value]="cepData.cep"
        validandorCep
      />
      <div *ngIf="(cep.invalid && cep?.touched) || cep?.dirty">
        <app-mensagem
          *ngIf="cep.errors?.['required']"
          mensagem="O campo CEP é obrigatório"
        ></app-mensagem>
        <app-mensagem
          *ngIf="cep.errors?.['pattern']"
          mensagem="Campo inválido: Ex: 00000-000"
        ></app-mensagem>
        <app-mensagem
          *ngIf="cep.errors?.['validandorCep']"
          mensagem="Cep não encontrado"
        ></app-mensagem>
      </div>
    </div>

    <div class="formulario__campo">
      <label class="campo__etiqueta" for="endereco">Endereço</label>
      <input
        ngModel
        [value]="cepData.logradouro"
        name="endereco"
        id="endereco"
        class="campo__escrita"
      />
    </div>
    <div class="formulario__dupla">
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="numero">Numero</label>
        <input name="numero" id="numero" class="campo__escrita" />
      </div>
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="complemento">Complemento</label>
        <input
          [value]="cepData.complemento"
          name="complemento"
          id="complemento"
          class="campo__escrita"
        />
      </div>
    </div>
    <div class="formulario__campo">
      <label class="campo__etiqueta" for="bairro">Bairro</label>
      <input
        [value]="cepData.bairro"
        name="bairro"
        id="bairro"
        class="campo__escrita"
      />
    </div>
    <div class="formulario__dupla">
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="cidade">Cidade</label>
        <input
          [value]="cepData.localidade"
          name="cidade"
          id="cidade"
          class="campo__escrita"
        />
      </div>

      <div class="formulario__campo">
        <label class="campo__etiqueta" for="estado">UF</label>
        <select
          [value]="cepData.uf"
          id="estado"
          name="estado"
          class="campo__escrita"
        >
          <option value="AC">Acre</option>
          <option value="AL">Alagoas</option>
          <option value="AP">Amapá</option>
          <option value="AM">Amazonas</option>
          <option value="BA">Bahia</option>
          <option value="CE">Ceará</option>
          <option value="DF">Distrito Federal</option>
          <option value="ES">Espírito Santo</option>
          <option value="GO">Goiás</option>
          <option value="MA">Maranhão</option>
          <option value="MT">Mato Grosso</option>
          <option value="MS">Mato Grosso do Sul</option>
          <option value="MG">Minas Gerais</option>
          <option value="PA">Pará</option>
          <option value="PB">Paraíba</option>
          <option value="PR">Paraná</option>
          <option value="PE">Pernambuco</option>
          <option value="PI">Piauí</option>
          <option value="RJ">Rio de Janeiro</option>
          <option value="RN">Rio Grande do Norte</option>
          <option value="RS">Rio Grande do Sul</option>
          <option value="RO">Rondônia</option>
          <option value="RR">Roraima</option>
          <option value="SC">Santa Catarina</option>
          <option value="SP">São Paulo</option>
          <option value="SE">Sergipe</option>
          <option value="TO">Tocantins</option>
          <option value="EX">Estrangeiro</option>
        </select>
      </div>
    </div>
    <button
      [disabled]="!f.valid"
      type="submit"
      class="formulario__botao"
      [ngClass]="!f.valid ? 'btn_invalido' : ''"
    >
      Enviar formulário
    </button>
  </form>
</main>
