<header
	class="grid p-2 flex flex-row justify-content-center align-content-around">
	<button class="col-4" (click)="irParaTelaInicial()">
		<img
			class="w-12 md:w-3"
			src="assets/imagens/logo.png"
			alt="Logo da aplicação Buscante" />
	</button>
	<div
		class="col-8 flex justify-content-around uppercase align-items-center font-bold gap-5 md:justify-content-end">
		<a
			href="https://github.com/nayannelbatista"
			target="_blank"
			class="text-white"
			>Sobre</a
		>
		<a
			class="text-white"
			href="https://www.linkedin.com/in/nayannebatista/"
			target="_blank"
			>Contato</a
		>
	</div>
</header>
