<section class="container">
	<header>Que livro você procura?</header>
	<div class="busca">
		<form #formBusca="ngForm" (submit)="buscarLivros()">
			<input type="search" name="campoBusca" [formControl]="campoBusca" />
			<button type="submit">
				<img src="assets/imagens/icone-busca.png" alt="Lupa de cor roxa" />
			</button>
		</form>
	</div>
	<p>Busque por assunto, autoria, nome...</p>
	<div
		class="container-card"
		*ngIf="livrosEncontrados$ | async as listaLivros; else telaInicial">
		<!-- 
			Angular vai se inscrever nesse subscrive e quando for encerrado será feito o unsubscribe
			além disso estamos criando uma variável listaLivros no proprio template, também poderia ficar lá no comp
		-->
		<div *ngFor="let livro of listaLivros">
			<app-livro [livro]="livro"></app-livro>
		</div>
	</div>
	<ng-template #telaInicial>
		<div class="imagens">
			<h1 class="titulo">
				angular Busque o livro <br />
				que quiser na <br />
				nossa estante!
			</h1>
			<img
				class="ilustracao"
				src="../../assets/imagens/ilustracao-estante.png"
				alt="Ilustração de uma pessoa em pé ao lado de uma estante com livros e plantas" />
		</div>
	</ng-template>
</section>
