<section class="container">
	<header>Que livro você procura?</header>
	<div class="busca">
		<form #formBusca="ngForm">
			<input type="search" name="campoBusca" [formControl]="campoBusca" />
			<button type="submit">
				<img src="assets/imagens/icone-busca.png" alt="Lupa de cor roxa" />
			</button>
		</form>
	</div>
	<p>Busque por assunto, autoria, nome...</p>
	<div class="resultados mensagem-erro" *ngIf="mensagemErro">
		{{ mensagemErro }}
	</div>
	<div class="resultados" *ngIf="totalDeLivros$ | async as totalDeLivros">
		<b *ngIf="!totalDeLivros.totalItems; else totalEncontrados"
			>Nenhum livro foi encontrado com esse termo.</b
		>
		<ng-template #totalEncontrados>
			<b>{{ totalDeLivros.totalItems }}</b
			>&emsp;livros encontrados
		</ng-template>
	</div>
	<div
		class="container-card"
		*ngIf="livrosEncontrados$ | async as listaLivros; else telaInicial">
		<div *ngFor="let livro of listaLivros">
			<app-livro [livro]="livro"></app-livro>
		</div>
	</div>
	<ng-template #telaInicial>
		<div class="imagens">
			<h1 class="titulo">
				Angular Busque o livro <br />
				que quiser na <br />
				nossa estante!
			</h1>
			<img
				class="ilustracao"
				src="../../assets/imagens/ilustracao-estante.png"
				alt="Ilustração de uma pessoa em pé ao lado de uma estante com livros e plantas" />
		</div>
	</ng-template>
</section>
