a {
  text-decoration: none;
}
header {
  font-family: 'Poppins', sans-serif;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

header .active-page {
  border-bottom: 1px solid #36337c;
}
