@import '../../../_partials/_colors.scss';

.acoes {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.botao {
  margin: 5px;
  margin-top: 70px;
  width: 200px;
}

.criar-pensamentos {
  padding: 2rem 0;
}

.criar-pensamentos form {
  background: #c4edff;

  border: none;
  border-radius: 20px;

  display: flex;
  flex-direction: column;

  padding: 2rem;
}

.criar-pensamentos form label {
  color: $cor-primaria;
  font-weight: bold;
  margin: 0 0 1rem;
}

.criar-pensamentos form .input {
  border: none;
  height: 40px;
  padding: 1rem 2rem;
  border-radius: 20px;
  margin: 0.5rem 0 2rem;
}

.criar-pensamentos form .textarea {
  border: none;
  padding: 1rem 2rem;
  border-radius: 20px;
  margin: 0.5rem 0 2rem;
}


.radio {
  margin: 0;
}

.label-modelo {
  cursor: pointer;
}

input[type='radio'] {
  display: none;
}

.radio-modelo label {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.custom-radio {
  border: 1px solid var(--primary-100);
  width: 30px;
  height: 30px;
  display: grid;
  place-content: center;
  border-radius: 50%;
}

.custom-radio,
span {
  transition: 0.5s ease;
  color: var(--primary-400);
}

.custom-radio span {
  content: '';
  width: 18px;
  height: 18px;
  background: transparent;
  border-radius: 50%;
}

input[type='radio']:checked + .custom-radio-1 {
  border-color: var(--purple-600);
}

input[type='radio']:checked + .custom-radio-2 {
  border-color: var(--red-600);
}

input[type='radio']:checked + .custom-radio-3 {
  border-color: var(--teal-600);

}

input[type='radio']:checked + .custom-radio-1 span {
  background: var(--purple-500);
}

input[type='radio']:checked + .custom-radio-2 spasn {
  background: var(--red-500);
}

input[type='radio']:checked + .custom-radio-3 span {
  background: var(--teal-500);
}