<section class="grid px-3 mb-8">
	<header class="col-12 flex flex-column align-items-center">
		<form #formBusca="ngForm" class="mt-3">
			<span class="p-input-icon-right">
				<i class="pi pi-search"></i>
				<input
					[formControl]="campoBusca"
					type="text"
					pInputText
					class="p-inputtext-lg"
					placeholder="Que livro você procura?" />
			</span>
		</form>
	</header>
	<section class="col-12 flex flex-column align-items-center">
		<b class="font-normal text-gray-900"
			>Busque por assunto, autoria, nome...</b
		>
		<hr />
		<div class="resultados mensagem-erro" *ngIf="mensagemErro">
			{{ mensagemErro }}
		</div>
		<div class="resultados" *ngIf="totalDeLivros$ | async as totalDeLivros">
			<b *ngIf="!totalDeLivros.totalItems; else totalEncontrados"
				>Nenhum livro foi encontrado com esse termo.</b
			>
			<ng-template #totalEncontrados>
				<b>{{ totalDeLivros.totalItems }}</b
				>&emsp;livros encontrados
			</ng-template>
		</div>
		<div
			class="grid xl:px-8 mt-2"
			*ngIf="livrosEncontrados$ | async as listaLivros; else telaInicial">
			<div
				class="col-12 md:col-6 lg:col-6 xl:col-4"
				*ngFor="let livro of listaLivros">
				<app-livro [livro]="livro"></app-livro>
			</div>
		</div>
	</section>

	<ng-template #telaInicial>
		<div class="flex flex-column align-items-center">
			<h2 class="subtitulo text-center opacity-70" [ngStyle]="{color:'var(--primary-300)'}">
				Busque o livro que quiser na nossa estante!
			</h2>
			<img
				class="w-auto opacity-20"
				src="../../assets/imagens/ilustracao-estante.png"
				alt="Ilustração de uma pessoa em pé ao lado de uma estante com livros e plantas" />
		</div>
	</ng-template>
</section>
