<p-dialog
  [breakpoints]="{ '768px': '100vw' }"
  [header]="livro.title"
  [(visible)]="visivel"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [maximizable]="true"
  [draggable]="false"
  [resizable]="false"
  (onHide)="fecharModal()"
>
  <div>
    <div class="grid flex flex-row mb-6 align-items-center">
      <div
        class="col-12 lg:col-4 justify-content-center flex align-items-center"
      >
        <img
          class="imagem"
          src="{{
            livro.thumbnail.thumbnail
              ? livro.thumbnail.thumbnail
              : 'assets/imagens/capa-indisponivel.png'
          }}"
          alt="Capa do livro"
        />
      </div>
      <div class="col-12 lg:col-8 lg:px-5">
        <h4 class="informacoes">Sinopse</h4>
        <p class="resultado">
          {{ (livro.description | truncate: 0 : 500) ?? 'Sem sinopse' }}
        </p>
      </div>
    </div>
    <p-divider type="dashed"></p-divider>
    <div>
      <div class="mt-2">
        <span>Autoria: </span>
        <strong>{{ livro.authors ?? 'Não identificado(a)' }}</strong>
      </div>
      <div class="mt-2">
        <span>Data de publicação: </span>
        <strong>{{
          livro.publishedDate | date: 'dd/MM/yyyy' ?? 'Sem data'
        }}</strong>
      </div>
      <div class="mt-2">
        <span>Editora: </span>
        <strong>{{ livro.publisher ?? 'Não encontrada' }}</strong>
      </div>
    </div>
  </div>
  <p-divider type="dashed"></p-divider>
  <ng-template pTemplate="footer">
    <p-button
      [ariaLabel]="'Ler prévia do livro' + livro.title"
      iconPos="right"
      icon="pi pi-book"
      (click)="lerPrevia()"
      styleClass="mt-5"
      label="Ler prévia"
    >
    </p-button>
  </ng-template>
</p-dialog>
