<section class="main">
	<app-input [editItem]="editItem"> </app-input>
	<div class="container">
		<div class="lista">
			<div class="header-lista" *ngIf="this.listaCompra.length">
				<h4 class="title-list">Lista de Compras</h4>
				<button class="btn-header" (click)="apagarTudo()" type="button">
					Apagar tudo
				</button>
			</div>
			<div *ngFor="let item of listaCompra">
				<app-item
					(emitindoItemParaEditar)="editarItem($event)"
					(emitindoIdDelete)="deleteItem($event)"
					[item]="item"></app-item>
			</div>
			<small *ngIf="!listaCompra.length"
				>Adicione novos itens a sua lista</small
			>
		</div>
	</div>
</section>
