<main class="px-5 main">
  <div class="grid">
    <div class="col-4 col-offset-4 md:col-2 md:col-offset-5 my-3">
      <img src="../assets/imgs/todo-logo.svg" class="w-full h-full" alt="">
    </div>
    <div class="col-12 md:col-8 md:col-offset-2">
      <app-input [editItem]="editItem"></app-input>
    </div>
    <div class="col-12 col-12 md:col-8 md:col-offset-2 lg:col-4 lg:col-offset-4 ">
      <div class="header-lista" *ngIf="this.listaCompra.length">
        <p-divider />
        <h4 class="title-list">Sua lista atual</h4>
      </div>
      <div class="flex flex-column gap-2">
        <p-card [style]="item.comprado ? {'background':'var(--green-50)'} : {'background':'var(--red-50)'} "
                class="relative" *ngFor="let item of listaCompra">
          <app-item
            (emitindoItemParaEditar)="editarItem($event)"
            (emitindoIdDelete)="deleteItem($event)"
            [item]="item"></app-item>
        </p-card>
      </div>
      <div class="flex flex-row flex-wrap justify-content-center mt-5 gap-3" *ngIf="this.listaCompra.length">
        <p-button icon="pi pi-trash" severity="danger" label="Apagar tudo" class="btn-header" (click)="apagarTudo()"
                  type="button" />
      </div>
      <p-card
        [style]="{background:'var(--primary-100)', color:'var(--primary-900)'}"
        *ngIf="!listaCompra.length"
        header="Ótimo, você não tem tarefas!"
        styleClass="text-center">
        <p class="m-0 p-0 ">
          Suas tarefas serão exibidas aqui...
        </p>
      </p-card>
    </div>
  </div>
</main>
